# Model
torch 
torchvision 
pandas
transformers
# --index-url https://download.pytorch.org/whl/cu121


# API
fastapi==0.99.1
uvicorn==0.22.0
python-dotenv==1.0.0
python-multipart==0.0.6
openpyxl==3.1.2